<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>electron</title>
    <link rel="stylesheet" href="../src/css/index.css">
  </head>
  <body>
    <div class="game" id="game">
      <div class="gameOver" id="gameOver"></div>
    </div>
    <div class="gameInfo">
      <div class="next" id="next"></div>
      <div class="info">
        <p>已用时：<span id="time">0分</span></p>
        <p>已得分：<span id="score">0分</span></p>
      </div>
    </div>
    <script src="../src/js/config.js"></script>
    <script src="../src/js/square.js"></script>
    <script src="../src/js/game.js"></script>
    <script src="../src/js/index.js"></script>
  </body>
</html>
